footer.container-fluid.pl-0.pr-0.text-center
  span.footer-copyright ©2019 Miia Laitinen
  .mt-3
    | Icons made by 
    a(href='https://www.freepik.com/', title='Freepik') Freepik
    |  from 
    a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
    |  is licensed by 
    a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY
